.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo,
  .solid-logo-b,
  .solid-logo-h {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 1;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(30deg) !important;
    z-index: 1;
  }

  .solid-logo-b {
    top: 250px;
    left: 100px;
    width: 70%;
    transform: rotateZ(15deg) !important;
  }

  .solid-logo-h {
    left: 190px;
    top: -50px;
    width: 110%;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}